.header-div {
  display: flex;
  background-color: white;
  height: 90px;
  align-items: center;
  position: fixed;
  left: 20px;
  top: 0px;
  right: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left-section {
  display: flex;
  flex: 1;
  justify-content: start;
}

.right-section {
  display: flex;
  flex: 1;
  justify-content: end;
}

.catalog-btn {
  margin-left: 20px;
  font-size: 22px;
  background-color: rgba(52, 72, 255, 1);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-catalog {
  margin-left: 20px;
  display: inline-block;
  color: rgba(52, 72, 255, 1);
  font-size: 35px;
}

.header-login-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.header-korzina-img {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.img-btn-login {
  margin-right: 15px;
  margin-top: 7px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.img-btn-korzina {
  margin-right: 15px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.login-text {
  margin-top: 5px;
}
