.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.card-img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.price {
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgba(70, 216, 30, 1);
  font-weight: 700;
}

.description-div {
  width: 150px;
}

.card-amount-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.change-amount-btn {
  background-color: rgba(52, 72, 255, 1);
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
}

.amount-p {
  margin: 0 10px;
  font-weight: bold;
}
