.page404 {
  object-fit: cover;
  width: 800px;
  height: 400px;
}

.nasianika-div {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-panel {
  background-color: white;
  border: 0;
  border-radius: 20px;
  margin: 30px;
}

.goods-btn,
.order-btn {
  background-color: rgba(52, 72, 255, 1);
}
